.app-page-detail {
    height: 100%;

    .ant-spin-nested-loading {
        height: 100%;

        .ant-spin-container {
            height: 100%;
        }

        .ant-spin {
            height: 100%;
            max-height: 100%;
        }
    }
}
